.headingImage {
    width: 100vw; 
    height: 15vh;  
    margin-left: 2%;
}

.top-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%; 
    height: 100%; 
}
.news-options{
    width: 100vw;
    height: 5vh;
    background-color: black;
}
.news-category{
    width:14.13%;
    height: 100%;
    border:none;
}