.headingImage {
    width: 100vw; 
    height: 15vh;  
}

.top-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%; 
}
.news-options{
    width: 100vw;
    height: 5vh;
    background-color: black;
}
.news-category{
    width:14.19%;
    height: 100%;
    border:none;
}
.news-category:hover{
    color: rgb(100, 96, 96);
}